<input type="radio" name="my_tabs_1" class="tab" aria-label="Sprint Tracking" id="sprint-tracking" />
        <div class="tab-content bg-base-100 border-base-300 p-6 rounded-b-lg">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div class="card bg-base-100 shadow-xl hover:shadow-2xl transition-shadow duration-300 col-span-full">
                    <div class="card-body">
                        <h2 class="card-title">Sprint Tracking</h2>
                        <ul class="list-disc list-inside">
                            <li>Planning and ideas: April 2025</li>
                            <li>Building the game: April-May 2025</li>
                            <li>Testing: June 2025</li>
                            <li>Writing up: June 2025</li>
                        </ul>
                    </div>
                </div>

                <div class="card bg-base-100 shadow-xl col-span-full hover:shadow-2xl transition-shadow duration-300">
                    <div class="card-body">
                        <h2 class="card-title">Trello Board</h2>

                        <div class="card bg-base-100 shadow-xl col-span-full hover:shadow-2xl transition-shadow duration-300">
                            <div class="card-body">
                                <h2 class="card-title">Start of Project:</h2>

                                <p>Initial planning and brainstorming ideas for the game.</p>
                                <iframe class="border-2 rounded-lg border-base-300" src="https://trello.com/b/dopWusqU.html" style="width: 100%; height: 500px;" frameborder="0" scrolling="no" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="card bg-base-100 shadow-xl col-span-full hover:shadow-2xl transition-shadow duration-300">
                            <div class="card-body">
                                <h2 class="card-title">Middle of Project:</h2>

                                <p>Development phase where core features were implemented, including resource management and upgrade systems.</p>
                                <iframe class="border-2 rounded-lg border-base-300" src="https://trello.com/b/POipwWwZ.html" style="width: 100%; height: 500px;" frameborder="0" scrolling="no" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="card bg-base-100 shadow-xl col-span-full hover:shadow-2xl transition-shadow duration-300">
                            <div class="card-body">
                                <h2 class="card-title">End of Project:</h2>

                                <p>Final testing and adjustments, ensuring all features worked as intended and the game was ready for submission.</p>
                                <iframe class="border-2 rounded-lg border-base-300" src="https://trello.com/b/YNkDkUQp.html" style="width: 100%; height: 500px;" frameborder="0" scrolling="no" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>