<input type="radio" name="my_tabs_1" class="tab" aria-label="System Architecture" id="system-architecture" />
<div class="tab-content bg-base-100 border-base-300 p-6 rounded-b-lg">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="card bg-base-100 shadow-xl col-span-full hover:shadow-2xl transition-shadow duration-300">
            <div class="card-body">
                <h2 class="card-title">Technologies Used</h2>
                <ul class="list-disc list-inside mt-4">
                    <li><span class="font-bold">Pygame:</span> Runs the game logic and rendering.</li>
                    <li><span class="font-bold">JSON:</span> Used for saving and loading game state.</li>
                    <li><span class="font-bold">Pygame</span>: Handles user input, graphics, and sound.</li>
                </ul>
            </div>
        </div>

        <div class="card bg-base-100 shadow-xl col-span-full hover:shadow-2xl transition-shadow duration-300">
            <div class="card-body">
                <h2 class="card-title">Screenshots and explaining my code</h2>
                <div class="flex flex-row gap-2">
                    <div class="mockup-code w-1/2">
                        <pre><code>
        def handle_event(self, event):
            if event.type == pygame.KEYDOWN:
                if event.key == pygame.K_LEFT:
                    self.dx = -1
                elif event.key == pygame.K_RIGHT:
                    self.dx = 1
                        </code></pre>
                    </div>
                    <div>In this code I:</div>
                </div>
            </div>
        </div>
    </div>
</div>