<input type="radio" name="my_tabs_1" class="tab" aria-label="System Architecture" id="system-architecture" />
<div class="tab-content bg-base-100 border-base-300 p-6 rounded-b-lg">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="card bg-base-100 shadow-xl col-span-full card-border border-base-300 hover:shadow-2xl transition-shadow duration-300">
            <div class="card-body">
                <h2 class="card-title">Technologies Used</h2>
                <ul class="list-disc list-inside mt-4">
                    <li><span class="font-bold">Pygame:</span> Runs the game logic and rendering.</li>
                    <li><span class="font-bold">JSON:</span> Used for saving and loading game state.</li>
                    <li><span class="font-bold">Pygame</span>: Handles user input, graphics, and sound.</li>
                </ul>
            </div>
        </div>

        <div class="card bg-base-100 shadow-xl col-span-full card-border border-base-300 hover:shadow-2xl transition-shadow duration-300">
            <div class="card-body">
                <h2 class="card-title">Screenshots and explaining my code</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                    <div class="mockup-code w-full">
                        <pre><code>
{% include "documentationTabs/codeSnippets/savePlayerData.txt" %}
                        </code></pre>
                    </div>
                    <div class="card bg-base-100 shadow-xl card-border border-base-300">
                        <div class="card-body">
                            <h2 class="card-title">Explaination</h2>
                            <div>
                                In this code I have a function called <code>save_player_data()</code> that saves the player's data into a JSON file. 
                                <br>
                                This saves all important player information, such as money, research, power, upgrades, and the state of the game world (like placed blocks and unlocked areas) into a file for loading next time the game is opened. 
                                <br>
                                It writes this data to <code>playerData.json</code> using the <code>json.dump()</code>.
                                <br>
                                I use the <code>now.strftime()</code> method to get the current date and time when the player logs out, which is also saved in the JSON file. I use this to track when the player last played the game, giving offline progress when they return.
                            </div>
                        </div>
                    </div>

                    <div class="mockup-code w-full">
                        <pre><code>
                        </code></pre>
                    </div>
                    <div class="card bg-base-100 shadow-xl card-border border-base-300">
                        <div class="card-body">
                            <h2 class="card-title">Explaination</h2>
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>