<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet"> -->
     <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{% block title %}{% endblock %} | Enviroment Game Website</title> 
</head>
<body class="min-h-screen flex flex-col bg-base-100">
    <header>
        {% include "navbar.html" %}
    </header>
    <main class="container mx-auto px-4 py-8 flex-grow">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer footer-center p-4 bg-primary text-primary-content text-3xl">
        <div>
            <p>Footer</p>
        </div>
    </footer>
</body>
</html>