<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet"> -->
     <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Enviroment Game Website</title>
</head>
<body>
    <header>
        <div class="navbar bg-base-100 shadow-sm">
            <div class="flex-1">
                <a class="btn btn-ghost text-xl">Enviromental Game</a>
            </div>
            <div class="flex-none">
                <ul class="menu menu-horizontal px-5">
                    <li><a>Home</a></li>
                    <li>
                        <details>
                            <summary>Sub Pages</summary>
                            <ul class="bg-base-100 rounded-t-none p-1">
                                <li><a>Download</a></li>
                                <li><a>About the Game</a></li>
                                <li><a>Documentation</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main class="container mx-auto my-6 grow">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>