{% extends "base.html" %}

{% block title %} Documentation {% endblock %}

{% block content %}
<div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">Game Documentation</h1>
    <div class="tabs tabs-lift flex">
        <!-- Overview Tab -->
        {% include "documentationTabs/overview.html" %}
        <!-- Sprint Tracking Tab -->
        {% include "documentationTabs/sprintTracking.html" %}
        <!-- System Architecture Tab -->
        {% include "documentationTabs/systemArchitecture.html" %}
        <!-- Testing Tab -->
        {% include "documentationTabs/testing.html" %}
    </div>
</div>

{% endblock %}